@{
    ViewData["Title"] = "Lasted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="divPrincipal" class="row">

    @*<div id="divBlog" class="col-7">

    </div>*@
    @*<div id="divimagen" class="col-5" style="padding: 10px; background-position: center; background-attachment: inherit; background-size: cover;"></div>*@
</div>

@section Scripts{
<script src="~/js/BlogItems.js">

</script>
}